[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
  }

  #columns {
    list-style-type: none;
  }

  .column {
    width: 162px;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: move;
  }
  .column header {

  }

  .column.dragElem {
    opacity: 0.4;
  }
  .column.over {
    border-top: 2px solid blue;
  }
